apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-stream-conf
data:
  nginx.conf: |
    worker_processes auto;

    events {
      worker_connections 1024;
    }

    stream {
      resolver kube-dns.kube-system.svc.cluster.local valid=10s;

{{- range .Values.clients }}
      upstream {{ .client | toString | replace "-" "_" }} {
        server minecraft-{{ .client }}.minecraft.svc.cluster.local:{{ .port }};
      }

      upstream {{ .client | toString | replace "-" "_" }}2 {
        server minecraft-{{ .client }}.minecraft.svc.cluster.local:{{ .port2 }};
      }

      server {
        listen {{ .port }};
        proxy_pass {{ .client | toString | replace "-" "_" }};
      }

      server {
        listen {{ .port2 }};
        proxy_pass {{ .client | toString | replace "-" "_" }}2;
      }
{{- end }}
    }
