apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-tcp
  namespace: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-tcp
  template:
    metadata:
      labels:
        app: nginx-tcp
    spec:
      nodeSelector:
        nodepool: pool-game-minecraft
        
      tolerations:
        - key: "dedicated"
          operator: "Equal"
          value: "pool-game-minecraft"
          effect: "NoSchedule"

      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            {{- range .Values.clients }}
            - containerPort: {{ .port }}
            {{- end }}
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: nginx-conf
          configMap:
            name: nginx-stream-conf
