apiVersion: v1
kind: Service
metadata:
  name: nginx-tcp
spec:
  type: LoadBalancer
  selector:
    app: nginx-tcp
  ports:
{{- range .Values.clients }}
    - name: {{ .client | lower | replace "_" "-" }}
      port: {{ .port | int }}
      targetPort: {{ .port | int }}
      protocol: TCP
    - name: {{ .client | lower | replace "_" "-" }}
      port: {{ .port2 | int }}
      targetPort: {{ .port2 | int }}
      protocol: UDP
{{- end }}
