apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-{{ .Values.client.name }}
  labels:
    app: minecraft-server
    client: {{ .Values.client.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft-server
      client: {{ .Values.client.name }}
  template:
    metadata:
      labels:
        app: minecraft-server
        client: {{ .Values.client.name }}
    spec:
      containers:
        - name: minecraft-server
          image: {{ .Values.image }}
          env:
            - name: EULA
              value: "TRUE"
          ports:
            - containerPort: 25565
          readinessProbe:
            tcpSocket:
              port: 25565
            initialDelaySeconds: 2
            periodSeconds: 5